body {
background: #ffcccc;
text-align: center;
font-family: Avenir;
font-size:24px;
}

h1 {
border-style: ridge;
border-width: 20px ;
border-color: #85CAFF;
}


center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
