body {
background: #FFFFFF;
text-align: center;
font-family: Avenir;
font-size:24px;
}

TopNav {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

h1 {
border-width: 10px;
border-style: double;
border-color: rgba(0,0,0,0.41);
}

img {
    max-width: 100%;
    max-height: 100%;
}

center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
