<head>
h1{
color:white；
text-align:center;
font-family: Baskerville;
font-size:30px;
}

</head>
body {
background: #FFFFFF;
text-align: center;
font-family: Baskerville;
font-size:18px;
}

#myTopNav {
    background-color:#FFD700;
    color:white;
    text-align:center;
    padding:5px;
}



img {
    max-width: 100%;
    max-height: 100%;
}

center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
