

.body {
background: #FFFFFF;
text-align: center;
font-family: Garamond;
font-size:18px;
text-align: justify;
}
#myTopNav {
    background-color:rgba(122,153,147,0.65);
    color:white;
    text-align:center;
    padding:5px;
}
.img {
    max-width: 150%;
    max-height: 150%;
     margin-left: 50%;
	    margin-right: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {color: #FFFFFF;
padding:60px;
	align:center;
}


